<mat-card>
    <mat-card-title>
        Storage events
    </mat-card-title>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let item of events">
                <span matLine>
                    Key: {{ item.key }}
                </span>
                <span matLine>
                    Old Value: {{ item.oldValue | json }}
                </span>
                <span matLine>
                    New Value: {{ item.newValue | json }}
                </span>
            </mat-list-item>
        </mat-list>

    </mat-card-content>
</mat-card>