:host {
    display: flex;
    flex-direction: column;
    flex: auto;
    align-items: center;
}

.content {
    display: flex;
    flex: 1 0 auto;
    flex-wrap: wrap;   
    width: 90%;
    max-width: 100%;
    align-items: stretch;
}

ngss-d-storage-items, ngss-d-storage-form, ngss-d-storage-events  {
    flex: 1 0 auto;
    margin: 20px;
    /deep/ {
        mat-card {
            height: 100%;
        }
    }
}

ngss-d-storage-form {
    align-self: flex-start;
}